<!-- Partial banner to be used on user specific web pages-->
<div class="account-banner">
  <div class="account-banner-inner">
    <div class="account-banner-title"> Account Manager</div>
    <a href="/" class="map-link">← Back to Map</a>  
    </div>
  </div>
</div>