<!-- Partial banner to be used on generic web pages-->
<div class="generic-banner">
  <div class="generic-banner-inner">
    <div class="generic-banner-title"> Tree History </div>
    <a href="/" class="map-link">← Back to Map</a>  
    </div>
  </div>
</div>